<div class="container" id="contact">
  <div class="contactContainer">
    <h2 class="heading">
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Get In Touch
      </span>
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Have a sweet project in mind or just want to say hi? Feel free to send me a message by filling the form below and shoot the Send button!
      </span>
    </h2>
    <div
      class="contactFormContainer"
      data-aos="fade-up"
      data-aos-delay="250"
      data-aos-duration="1000"
      data-aos-easing="ease forwards"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
        <div class="formGroup">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Enter Your Name"
          />
        </div>
        <div class="formGroup">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter Your Email"
          />
        </div>
        <div class="formGroup">
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            placeholder="Enter Subject"
          />
        </div>
        <div class="formGroup">
          <label for="message">Message</label>
          <textarea
            id="message"
            rows="6"
            formControlName="message"
            placeholder="Enter Your Message"
          ></textarea>
        </div>
        <button
          type="submit"
          class="btnSubmit"
          [disabled]="!contactForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
