<div class="container">
  <div class="confirmContainer">
    <mat-card
      class="card"
      data-aos="fade-down"
      data-aos-delay="150"
      data-aos-duration="1000"
      data-aos-easing="ease forwards"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <div class="iconWrapper">
        <img mat-card-image src="assets/img/yes.png" alt="success" />
      </div>
      <mat-card-content>
        <h2>Thank You!</h2>
        <p>Your message has been successfully sent. I will get back to you as soon as possible!</p>
      </mat-card-content>
      <mat-card-actions class="cardActions">
        <button mat-raised-button class="btnOk" (click)="goBack()">OK</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
