<div class="sidebarContainer">
  <app-topbar (sidenavToggle)="drawer.toggle()" Responsive></app-topbar>
  <mat-drawer-container class="drawerContainer" hasBackdrop="true">
    <mat-drawer class="circularDrawer" #drawer mode="over" position="end">
      <div class="drawerInfo">
        <ul (click)="toggle()">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
